In [2]:
import pandas as pd
import seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [8]:
df = pd.read_csv('train.csv', usecols=['Age','Pclass','Fare','Survived'])

In [10]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [14]:
x = df.drop(columns=['Survived'])
y = df['Survived']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [18]:
X_train.sample(5)

     Pclass   Age     Fare
11        1  58.0  26.5500
648       3   NaN   7.5500
246       3  25.0   7.7750
339       1  45.0  35.5000
727       3   NaN   7.7375

In [58]:
knn = KNNImputer(n_neighbors=3, weights='distance')   # default n_neighbors = 5 and weight = 'uniform'

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [60]:
lr = LogisticRegression()
lr.fit(X_train_trf,y_train)
y_prd = lr.predict(X_test_trf)
accuracy_score(y_test, y_prd)

0.7150837988826816

In [30]:
si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [32]:
lr = LogisticRegression()
lr.fit(X_train_trf2, y_train)
y_prd2 = lr.predict(X_test_trf2)
accuracy_score(y_test, y_prd2)

0.6927374301675978