In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('banana_quality.csv')

In [3]:
df.head()

,Size,Weight,Sweetness,Softness,HarvestTime,Ripeness,Acidity,Quality
0,-1.924968,0.468078,3.077832,-1.472177,0.294799,2.435570,0.271290,Good
1,-2.409751,0.486870,0.346921,-2.495099,-0.892213,2.067549,0.307325,Good
2,-0.357607,1.483176,1.568452,-2.645145,-0.647267,3.090643,1.427322,Good
3,-0.868524,1.566201,1.889605,-1.273761,-1.006278,1.873001,0.477862,Good
4,0.651825,1.319199,-0.022459,-1.209709,-1.430692,1.078345,2.812442,Good

In [5]:
df.isna().sum()

Size           0
Weight         0
Sweetness      0
Softness       0
HarvestTime    0
Ripeness       0
Acidity        0
Quality        0
dtype: int64

In [6]:
df['Quality'] = np.where(df['Quality'] == 'Good', 0, 1)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Size         8000 non-null   float64
 1   Weight       8000 non-null   float64
 2   Sweetness    8000 non-null   float64
 3   Softness     8000 non-null   float64
 4   HarvestTime  8000 non-null   float64
 5   Ripeness     8000 non-null   float64
 6   Acidity      8000 non-null   float64
 7   Quality      8000 non-null   int32
dtypes: float64(7), int32(1)
memory usage: 468.9 KB

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso

In [11]:
X = df.drop(columns=['Quality'])
y = df['Quality']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [14]:
alpha = [0.1, 0.01, 0.001, 1, 10, 100]

coef = []

for i in alpha:
    ls = Lasso(alpha=i)
    ls.fit(X_train, y_train)

    coef.append(ls.coef_.tolist())

In [16]:
input_arr = np.array(coef)

coef_df = pd.DataFrame(input_arr, columns=X.columns, index=alpha)
coef_df['alpha'] = alpha
coef_df.set_index('alpha')

,Size,Weight,Sweetness,Softness,HarvestTime,Ripeness,Acidity
alpha,,,,,,,
0.100,-0.060470,-0.066480,-0.057759,-0.000000,-0.042587,-0.045594,0.000000
0.010,-0.078848,-0.093517,-0.078051,-0.011034,-0.054494,-0.060378,0.010842
0.001,-0.080564,-0.097104,-0.080013,-0.013503,-0.055422,-0.061802,0.013165
1.000,-0.000000,-0.000000,-0.000000,0.000000,-0.000000,-0.000000,0.000000
10.000,-0.000000,-0.000000,-0.000000,0.000000,-0.000000,-0.000000,0.000000
100.000,-0.000000,-0.000000,-0.000000,0.000000,-0.000000,-0.000000,0.000000