In [68]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [43]:
df = np.round(pd.read_csv('50_Startups.csv')[['R&D Spend','Administration','Marketing Spend','Profit']]/10000)
np.random.seed(9)
df = df.sample(5)

In [44]:
df

    R&D Spend  Administration  Marketing Spend  Profit
21        8.0            15.0             30.0    11.0
37        4.0             5.0             20.0     9.0
2        15.0            10.0             41.0    19.0
14       12.0            16.0             26.0    13.0
44        2.0            15.0              3.0     7.0

In [52]:
df.iloc[1,0] = np.NaN
df.iloc[3,1] = np.NaN
df.iloc[-1,2]=np.nan

In [54]:
df

    R&D Spend  Administration  Marketing Spend  Profit
21        8.0            15.0             30.0    11.0
37        NaN             5.0             20.0     9.0
2        15.0            10.0             41.0    19.0
14       12.0             NaN             26.0    13.0
44        2.0            15.0              NaN     7.0

In [58]:
X = df.drop(columns='Profit')
y = df['Profit']

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [62]:
X_train

    R&D Spend  Administration  Marketing Spend
44        2.0            15.0              NaN
37        NaN             5.0             20.0
14       12.0             NaN             26.0
21        8.0            15.0             30.0

In [64]:
imputer = IterativeImputer(estimator=LinearRegression(), max_iter=10, random_state=0)
X_train_imp = imputer.fit_transform(X_train)
X_test_imp = imputer.transform(X_test)

In [66]:
X_train_imp

array([[ 2.        , 15.        , 25.33333333],
       [22.57142857,  5.        , 20.        ],
       [12.        , 11.66666667, 26.        ],
       [ 8.        , 15.        , 30.        ]])

In [70]:
clf = DecisionTreeClassifier()