In [2]:
import numpy as np
import pandas as pd

In [44]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [4]:
df = pd.read_csv('cinema_hall_ticket_sales.csv')

In [46]:
df.sample(5)

,Ticket_ID,Age,Ticket_Price,Movie_Genre,Seat_Type,Number_of_Person,Purchase_Again
860,Z8170,27,24.04,Action,Premium,2,No
1330,W7299,56,22.88,Sci-Fi,Standard,Alone,No
388,X4895,22,18.86,Sci-Fi,Standard,5,Yes
911,E7698,41,18.65,Action,VIP,3,Yes
681,D2037,51,10.86,Comedy,Premium,3,Yes

In [14]:
df['Seat_Type'].unique()     # ordinal encoding

array(['Standard', 'VIP', 'Premium'], dtype=object)

In [16]:
df['Movie_Genre'].unique()     # OneHotEncoding

array(['Comedy', 'Drama', 'Horror', 'Action', 'Sci-Fi'], dtype=object)

In [20]:
df['Number_of_Person'].unique()

array(['7', 'Alone', '3', '6', '4', '2', '5'], dtype=object)

In [18]:
df.isnull().sum()

Ticket_ID           0
Age                 0
Ticket_Price        0
Movie_Genre         0
Seat_Type           0
Number_of_Person    0
Purchase_Again      0
dtype: int64

In [34]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.drop(columns = ['Ticket_ID']), df['Purchase_Again'], test_size=0.3)

In [40]:
X_test.shape

(432, 6)

In [42]:
from sklearn.compose import ColumnTransformer

In [48]:
transformer = ColumnTransformer(transformers=[
    ('tnf1' , OrdinalEncoder(categories=[['Standard','Premium','VIP']]), ['Seat_Type']),
    ('tnf2', OneHotEncoder(sparse_output=False, drop='first'), ['Movie_Genre', 'Number_of_Person'])
], remainder= 'passthrough' )

In [58]:
transformer.fit_transform(X_train).shape

(1008, 14)

In [60]:
transformer.fit_transform(X_test).shape

(432, 14)